.login-form{
  margin: 0 auto;
}

.field-wrapper{
  margin-bottom: 40px;
}

.center-text{
  text-align: center;
}

.error{
  color: red;
}

.wrapper{
  max-width: 400px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  padding-top: 110px;
}

.img{
  max-width: 100%;
  width: 120px;
}

.img-show{
  max-width: 100%;
  width: 300px;
}

.nav-root {
  flex-grow: 1;
}

.nav-text {
  flex: 1;
}

.nav-button {
  margin-left: -12;
  margin-right: 20;
}
